//
// General
//

body {
  margin: 0;
  height: 100vh;
}
div#root {
  height: 100%;
}

.sunday {
  color: orangered;
}
.saturday {
  color: royalblue;
}

.whole-content-area {
  width: 100%;
  height: 100%;
}
.full-width {
  width: 100%;
}

.gutter-top {
  margin-top: 1rem;
}

.text-align-center {
  text-align: center;
}

.navigation-before, .navigation-next {
  align-self: center;

  .material-icons {
    padding-top: 0.5rem;
  }
}

//
// molecules
//

div.time-select {
  display: inline-block;

  div.container {
    display: flex;
  }
}

//
// Templates
//

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
   .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

@mixin with-fab {
  margin-bottom: 4rem;
}

.current-state {
  .date {
    display: block;
    text-align: center;
    height: 3rem;
  }
}

.list {
  @include with-fab();

  .date-list {
    font-family: Roboto, sans-serif;
    white-space: nowrap;
    text-align: center;

    .date-list-header {
      font-weight: bold;
    }
    .date-list-row {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
    .date-list-row:nth-child(odd) {
      background-color: whitesmoke;
    }
  
    .mdc-layout-grid__cell {
      align-self: center;
    }
  }
}

.detail {
  @include with-fab();

  .between {
    display: inline-block;
    padding: 0 1em;
  } 
}